absl-py==1.4.0
ansi2html==1.8.0
astunparse==1.6.3
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.5
contourpy==1.0.7
cryptography==41.0.1
cycler==0.11.0
dash==2.11.1
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Deprecated==1.2.14
dill==0.3.6
ecdsa==0.18.0
filelock==3.9.0
Flask==2.2.5
flatbuffers==23.5.26
fonttools==4.39.4
fsspec==2023.4.0
gast==0.4.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.8.0
hvac==1.1.0
idna==3.4
itsdangerous==2.1.2
jax==0.4.11
Jinja2==3.1.2
joblib==1.2.0
keras==2.12.0
kiwisolver==1.4.4
libclang==16.0.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
ml-dtypes==0.1.0
mpmath==1.2.1
multiprocess==0.70.14
nest-asyncio==1.5.6
networkx==3.0rc1
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
pandas==1.5.3
pathos==0.3.0
Pillow==9.5.0
pkg-info==0.1.2
pkginfo==1.9.6
plotly==5.15.0
pox==0.3.2
ppft==1.7.6.6
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyhcl==0.4.4
pyhocon==0.3.60
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-jose==3.3.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rsa==4.9
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sympy==1.11.1
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
tensorflow-metal==0.8.0
termcolor==2.3.0
threadpoolctl==3.1.0
torch==2.1.0.dev20230712
torchaudio==2.1.0.dev20230713
torchvision==0.16.0.dev20230713
typing_extensions==4.6.2
tzdata==2023.3
# unileaf-util @ file:///Users/964840/workspace/leaf_files/unileaf_util-0.2.2-py3-none-any.whl#sha256=578976ae1a95e24090389faf9270f4dbc2082b50dc63edb4975e16a341501816
urllib3==1.26.16
Werkzeug==2.3.4
wrapt==1.14.1
xgboost==1.7.6
