# Ignores saved predictors
predictors/*/trained_models/
predictors/trained_models

# Ignores predictor significance results
experiments/predictor_significance
# Ignores figures for paper
experiments/figures

# Ignores trained prescriptors and seeds
prescriptors/*/trained_prescriptors
prescriptors/*/seeds
prescriptors/nsga2/transfer_prescriptors.ipynb

data/*.zip
data/processed/*.csv
*.nc
