# Ignores saved predictors
predictors/*/trained_models/

# Ignores predictor significance results
experiments/predictor_significance
# Ignores figures for paper
experiments/figures

experiments/figures

# Ignores trained prescriptors and seeds
prescriptors/*/trained_prescriptors
prescriptors/*/seeds

data/*.zip
*.nc
