# Ignores saved predictors
predictors/*/*/**

# Ignores saved predictors in experiments
experiments/trained_predictors

# Ignores predictor significance results
experiments/predictor_significance

data/*.zip
*.nc
