[MASTER]
ignore=demo, prescriptors/esp

recursive=y

fail-under=9.0

jobs=0

max-line-length=120

suggestion-mode=yes

good-names=X_train, X_val, X_test, y_train, y_val, y_test, X, Y, y, X_test_scaled, df, da, ds, i, n